body {
  background-image: url('https://d3cbihxaqsuq0s.cloudfront.net/images/42729399_xl.jpg');
  background-position: top;
  background-repeat: no-repeat;
}

h1 {
  background-color: yellow;
  color: black;
  text-align: center;
}

p {
  font-size: 22px;
  padding-top: 20px;
}

section {
  height: 300px;
  width: 900px;
  margin: auto;
  padding-bottom: : 50px;
}

ol, ul {
  font-size: 18px;
}

.rules {
  padding-top: 50px;
}
