body{
  background-image: url('https://d3cbihxaqsuq0s.cloudfront.net/images/42729399_xl.jpg');
  background-position: top;
  background-repeat: no-repeat;
}

h1{
  background-color: yellow;
  color: black;
}
p{
  font-size: 22px;
}
section{
  height: 300px;
  width: 900px;
  margin: auto;
  padding: 200px 0;
}
